#cassino{
    background: rgb(204, 204, 204);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cassino h2{
    margin-bottom: 20px;
}